body {
  font-family: Arial, sans-serif;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}


.button2 {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
color: #1a8cff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 1%;
  position: absolute;
  left: 4%;
}
th{
  color:#b3cbe6;
}
.button2:hover {color: black;background-color: #4da6ff}

.button2:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.button3 {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
color: #1a8cff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 1%;
  position: absolute;
  left: 18%;
}
th{
  color:#b3cbe6;
}
.button3:hover {color: black;background-color: #4da6ff}

.button3:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.button4 {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
color: #1a8cff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 1%;
  position: absolute;
  left: 28%;
}
th{
  color:#b3cbe6;
}
.button4:hover {color: black;background-color: #4da6ff}

.button4:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.button5 {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
color: #1a8cff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 1%;
  position: absolute;
  left: 12%;
}
th{
  color:#b3cbe6;
}
.button5:hover {color: black;background-color: #4da6ff}

.button5:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.button6 {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
color: #1a8cff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 1%;
  position: absolute;
  left: 6%;
}
th{
  color:#b3cbe6;
}
.button6:hover {color: black;background-color: #4da6ff}

.button6:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.button7 {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
color: #1a8cff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 1%;
  position: absolute;
  left: 50%;
}
th{
  color:#b3cbe6;
}
.button7:hover {color: black;background-color: #4da6ff}

.button7:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.button8 {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center; 
  text-decoration: none;
  outline: none;
color: #1a8cff;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 1%;
  position: absolute;
  left: 76%;
}
th{
  color:#b3cbe6;
}
.button8:hover {color: black;background-color: #4da6ff}

.button8:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.custom-select {
  position: relative;
  font-family: Arial;
  width:20%;
  height: 20%;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}