.aligncenter{
  text-align: center;
}
.first_titulo_esquerda{
	font-size: 18px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px; 
    text-align: left;
}
.first_titulo{
	font-size: 18px;
    font-weight: 400;
    color: #9A9A9A;
    margin-bottom: 0px; 
    text-align: center;
}
.secound_titulo{
	font-size: 12px;
    font-weight: 400;
    color: black;
    margin-bottom: 0px; 
    text-align: center;
}

.button {
  display: inline-block;
  padding: 3px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0086b3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
  margin: 0;
  margin-top: -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button:hover {background-color: #4da6ff}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}
.container { /*para ficar em volta do botão*/
  height: 50px;
  margin-bottom: 30px;
  position: relative;
  border: 3px ;
}

.dropdown_style{
	display: inline-block;
  padding: 3px 10px;
	 background-color: green;
	 color: white;
	 border-color: white;
	 position: absolute;
  top: 70%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
.dropdown_style_utilizadorespendentes{
	display: inline-block;
  padding: 3px 10px;
	 background-color: green;
	 color: white;
	 border-color: white;
	 position: absolute;

  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
/*.dropdown_style:hover{
background-color: green;
	 color: white;
	 border-color: white;
}*/
.dropdown_style_lotacao{
	display: inline-block;
  padding: 3px 10px;
	 background-color: green;
	 color: white;
	 border-color: white;
	 position: absolute;
  top: 70%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
#table-scroll {
	position:relative;
  height:300px;
  overflow:auto;  
}
.button_aceitacao {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0086b3;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 9px;
  position: absolute;
  left: 76%;
}

.button_aceitacao:hover {background-color: #4da6ff}

.button_aceitacao:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

.button_remocao {
  display: inline-block;
  padding: 4px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #cc2900;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
  margin: 0;
  margin-top: 9px;
  position: absolute;
  left: 54%;
}

.button_remocao:hover {background-color: #ff5c33}

.button_remocao:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}